.gradientBackground {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 550px;
    background: linear-gradient(var(--color-background) 0%, var(--color-background) 45%);
    z-index: 990;
}
