.frogspawn-theme {
  --rounded-base: 0.25rem;
  --rounded-none: 0;
  --rounded-sm: calc(var(--rounded-base) / 2);
  --rounded: var(--rounded-base);
  --rounded-md: calc(var(--rounded-base) * 1.5);
  --rounded-lg: calc(var(--rounded-base) * 2);
  --rounded-xl: calc(var(--rounded-base) * 3);
  --rounded-2xl: calc(var(--rounded-base) * 4);
  --rounded-3xl: calc(var(--rounded-base) * 6);
  --rounded-full: 9999px;
}
