.frogspawn-theme {
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;
  --font-size-4xl: 35px;
  --font-size-5xl: 60px;

  --line-height-xs: 16px;
  --line-height-sm: 20px;
  --line-height-base: 24px;
  --line-height-lg: 26px;
  --line-height-xl: 28px;
  --line-height-2xl: 30px;
  --line-height-3xl: 36px;
  --line-height-4xl: 40px;
  --line-height-5xl: 60px;

  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  --default-font-size: var(--font-size-base);
  --default-line-height: var(--line-height-base);
  --default-font-weight: var(--font-normal);
}

.frogspawn-theme {
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  font-weight: var(--default-font-weight);
}
